*{
  color: white;
}
.signBody{
  height: 100vh;
}
.left-side{
  width: 450px;
  height: 600px;
  background-color: rgb(47, 97, 29);
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
}
input{
  background-color: rgb(255, 255, 233);
  border:none;
  border-radius: 8px;
}
.rightSight{
  width: 450px;
  height: 600px;
  font-size:25px;
  background-color: rgb(24, 62, 86);
  border-top-right-radius: 15px;
  border-bottom-right-radius: 15px;
}
.rigtButton{
  background-color: transparent;
  border:solid 3px rgb(245, 245, 245);
  border-radius: 5px;
  color: rgb(255, 255, 255);
}
.rigtButton:hover{
  background-color: rgb(0, 0, 0);
  color: rgb(255, 255, 255);
  transition: all 1s;
  border:solid 3px transparent
}